@use "sass:color";
@use "./variables" as *;

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    color: $text;
    background: $background;
    line-height: 1.5;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
    text-decoration: underline;
}


/* Utilidades */
.u-container {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
}

.u-flex {
    display: flex;
}

.u-items-center {
    align-items: center;
}

.u-justify-between {
    justify-content: space-between;
}

.u-text-center {
    text-align: center;
}

@function gap-size($n) {
    @return $n * 0.25rem; // escala base
}

@for $i from 1 through 6 {
    .u-gap-#{$i} {
        gap: gap-size($i);
    }
}